{% extends 'home/layout.html' %}

{% block title %}Главная{% endblock %}


{% block content %}
<form action="{% url 'search' %}" method="get">
    <div class="search">
        <div class="input-group">

            <input type="search" class="form-control rounded" placeholder="Поиск" aria-label="Search"
                   aria-describedby="search-addon" name="search"/>
            <button type="submit" class="btn btn-warning" data-mdb-ripple-init>Поиск</button>

        </div>
    </div>
</form>

{% for m in matiz %}
<div class="center">
    <div class="card mb-4 box-shadow">
        {% if m.photo %}
        <p><img class="card-img-top"
                data-holder-rendered="true" style="height: 225px; width: 245px; display: block;"
                alt="not update"
                src="{{ m.photo.url }}"></p>
        {% else %}
        <img class="card-img-top"
             data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
             alt="Thumbnail [100%x225]"
             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18cea39430e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18cea39430e%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.93124771118164%22%20y%3D%22117.54000034332276%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
             data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        {% endif %}
        <div class="card-body">
            <h3 class="note-title">{{ m.name }}</h3>
            <p class="size">{{ m.price }} рублей</p>
            <p>{{ m.date }} года выпуска</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'pay' m.id %}" class="btn btn-warning" >Купить</a>
                    <a href="{% url 'detail' m.id %}" class="btn btn-dark secondary">Подробнее</a>
                </div>
                <small class="text-muted">cars <br>
                    shop</small>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}

{% block pagin %}
{% include 'home/includes/paginator.html' %}
{% endblock %}

