{% extends 'home/layout.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<h1 class="athor">Новый пароль</h1>

<form action="" method="post" class="form-control">
    {% csrf_token %}
    <div class="login">
        <div class="form-error"> {{ form.non_field_errors }}</div>
        {% for f in form %}
        <div class="form-floating mb-3">
            <p><label class="" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        </div>
        <div class="form-error"> {{ f.errors }}</div>
        {% endfor %}
        <p>
            <button type="submit" class="btn btn-warning">Сохранить</button>
        </p>


    </div>
</form>
{% endblock %}