{% extends 'home/layout.html' %}
{% block title %} Восстановление пароля {% endblock %}

{% block content %}
<h1 class="athor">Восстановление пароля</h1>
<div class="login">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-error"> {{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error"> {{ f.errors }}</div>
        {% endfor %}
        <p>
            <button type="submit" class="btn btn-warning">Сбросить по E-mail</button>
        </p>
    </form>
</div>
{% endblock %}