<div class="pagin"></div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}" style="color: #ff9700;" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-item"><a style="color: #ff9700;" class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link " style="color: #ff9700;" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

